<html>
<head>
  <title>Blok</title>
  <style>
    body {
      padding: 80px;
      font: 16px Helvetica, Arial;
    }
  </style>
</head>
<body>
  <section id="content">
    {% block content %}
    {% endblock %}
  </section>
</body>
</html>